*{
    font-family: 'Open Sans', sans-serif;
}

.bio{
 padding: 10px;
 overflow: auto;
 font-size: 20px;
}

.profile-pic{
    float: right;

}
body{
    background-color: lightgray;
}
.contact{
    border: solid 10px green;
    padding: auto;
    text-align: center;
}
.image{
    width: 50%;
}
.selection{
    float: left;
    width: 30%;
    margin: 0 auto;
    text-align: center;
}
.testing{
    margin: auto;
    padding-bottom: 30px;
}
.testing::after{
    content:"";
    clear: both; 
    display: table;
}
.head{
    justify-content: center;
    padding: 0% 1;
    position: relative;
}

.top{
    content: border-box;
    position: absolute;
    display: inline;
    margin: 0%;
    bottom: 0;
    right: 0;
}
li{
    display: inline;
    padding-right: 20px;
}
h1{
    display: inline;
}
h2{
    text-align: center;
    display: block;
}
h3{
    display: inline;
}
.portfolio{
    background-color: white;
    margin: 10px;
}

.foot{
    overflow: auto;
    position: relative;
    display: block;
}
.bottom{
    display: inline;    
    content: border-box;
    position: absolute;
    margin: 0%;
    bottom: 0;
    right: 0;
}
p{
    display: inline;
    text-align: center;
}
